modules = ["nodejs-24", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
VAPID_PUBLIC_KEY = "BJc1yXjzLWBsYtZCloCkxfcED3QYlfnhM3G9KF4RdyhJsmhpTbELTL-XI7rqSi-ccxnPJY5QAu4vvtqVm_yRqG4"
VAPID_PRIVATE_KEY = "SVH-7oIqMzJgAIEvvajhe3TlHrSG5rplO-uI4SMWnI0"
VAPID_SUBJECT = "mailto:admin@compy.app"
